.header-container {
    display: flex;
    padding: 1rem 1.5rem;
    background-color: var(--background-color);
}

.header-container > a, .header-container > .search {
    z-index: 1;
}

.header-button-container {
    width: 100%;
}

.header-button-wrapper {
    text-transform: uppercase;
    padding: 0.5rem 5rem;
    gap: 2rem;
    display: flex;
    position: absolute;
    width: calc(100% - 10rem);
    left: 0;
}

.header-button-wrapper > a:last-child {
    margin-right: auto;
}

.header-button-wrapper > a:first-child {
    margin-left: auto;
}

.search {
    position: relative;
    display: flex;
    gap: 0.25rem;
    background: var(--background-color-darked);
    border-radius: 2.5rem;
    padding: 0 1rem;
}

.search .search-field {
    margin: auto;
    position: relative;
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-style: oblique;
    font-family: 'Montserrat';
    color: white;
}

.search img {
    cursor: pointer;
    margin: auto;
}

.hright-icon {
    padding: 0.5rem;
}